* {
  font-family: "Anonymous Pro", monospace;
}

.row {
  min-height: 100vh;
  padding: 10vh;
}

.left {
  padding: 5vh;
  background-color: green;
}

.right {
  padding: 5vh;
  background-color: yellow;
}
